.rich-text-editor-editor {
  height: 300px;
  .DraftEditor-root {
    pre {
      padding: 5px;
      background-color: var(--black-100);
      color: var(--black-800);
    }

    blockquote {
      color: var(--black-800);
    }
  }
}
.rdw-editor-main {
  height: 400px;
  padding: 20px;
}
.rdw-editor-wrapper {
  border: 1px solid grey;
}
